.product {
	border: 1px solid lightblue;
	float: left;
	width: 30%;
	margin: 1%;
	height: 34em;
}
h2 {
	margin: 1%;
	text-align: center;
}
img {
	width: 100%;
	background-color: lightgray;
	text-align: center;
}
.description {
	height: 4em;
}
h5 {
	background-color: darkgray;
	color: yellow;
}
header {
	font-weight:  bold;
	margin-left: 4px;
}
div {
	font-weight: bold;
	margin-left: 1em;
	font-size: .85em;
}
footer {
	font-size: .7em;
}